CLIENT_ID=XXXXXXXXXXXXXXXX
CLIENT_SECRET=XXXXXXXXXXXXXXXX

PLUGIN_URI=https://localhost:5173
REDIRECT_URI=https://localhost:3001/redirect

AUTHORIZE_ENDPOINT=https://airtable.com/oauth2/v1/authorize
TOKEN_ENDPOINT=https://airtable.com/oauth2/v1/token

SCOPE="data.records:read schema.bases:read"
